body {
    margin: auto 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #dcdce0;
}

div {
    font-size: 16px;
    margin: 0;
}


.cny-main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    background-color: #777F84;
}


/* Sticky main nav bar */
.sticky {
    position: fixed;
    top: 0; 
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

/* li {
    padding: 20px 20px 20px 0px;
} */

/* .nav-right {
    margin-left: auto;
    margin-right: 40px;
}

.cny-nav-link {
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: 100;
}

@media only screen and (max-width: 550px) {
    .nav-link {
        font-size: .8em;
        padding: 0;
    }
} */

.cover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: #8F3B75;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.cover-heading {
    position: absolute;
}


.grid-layout {
    display: grid;
    justify-content: center;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin: 20px;
}

.box {
    border: 0px solid;
    /* max-width: 500px; */
    border-radius: 2px;
    /* padding: 130px; */
    text-align: center;
    background-color: #8F3B75;
    box-shadow: 1px 1px 1px 1px rgb(143, 130, 130);
}

img {
    width: 100%;
}

.bg-img {
    opacity: 0.5;
    height: 50vh;
    object-fit: cover;
}
input {
    width: 200px;
}

footer {
    background-color: #8F3B75;
    padding: 20px;
    text-align: center;
}

button {
  margin: 5px;
  background-color: #005ca5;
  color: #fff;
  padding: 15px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: #000d4d;
  border: 1px solid #000d4d;
}

.viewBids-link {
      margin: 5px;
      background-color: #000d4d;
      color: #fff;
      padding: 15px;
      font-size: 14px;
      border: none;
      cursor: pointer;
}

.viewBids-link:hover {
  background-color: #fff;
  color: #000d4d;
  border: 1px solid #000d4d;
}

.hoverImg {
    border-radius: 0px;
    cursor: pointer;
    transition: 0.3s;
  }
  
.hoverImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 900px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

/* Popup Bid SpreadSheet */
.bids {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.bids-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close-bids {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-bids:hover,
.close-bids:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}